{% extends 'base.html.twig' %}

{% block title %}
    New Agent
{% endblock %}

{% block body %}

    {% include '_header.html.twig' %}

    <div class="form-group m-5 border" style="max-width: 50%">
        {{ form_start(form) }}
        <div class="form-control" style="border: none">
            {{ form_label(form.lastName) }}
            {{ form(form.lastName) }}
        </div>
        <div class="form-control" style="border: none">
            {{ form_label(form.firstName) }}
            {{ form(form.firstName) }}
        </div>
        <div class="form-control" style="border: none">
            {{ form_label(form.codeName) }}
            {{ form(form.codeName) }}
        </div>
        <div class="form-control" style="border: none">
            {{ form_label(form.nationality) }}
            {{ form(form.nationality) }}
        </div>
        <div class="form-control" style="border: none">
            {{ form_label(form.missions) }}
            {{ form(form.missions) }}
        </div>
        <div class="form-control" style="border: none">
            {{ form_label(form.skills) }}
            {{ form(form.skills) }}
        </div>
        <div class="m-4">
            {{ form_widget(form) }}
            <input type="submit" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}