{% extends 'missions/index.html.twig' %}


{% block title %}
    {{ agent.codeName }}
{% endblock %}

{% block body %}

    {% include "_header.html.twig" %}

    <h1 class="p-2 mt-4">{{ agent.codeName }} - {{ agent.firstname }} {{ agent.lastname }}</h1>

    <table class="table table-hover table-responsive text-justify align-middle mx-5" style="max-width:40em">
        <tbody>
        <tr>
            <th>Lastname</th>
            <td>{{ agent.lastName }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ agent.firstName }}</td>
        </tr>
        <tr>
            <th>Codename</th>
            <td>{{ agent.codeName }}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{{ agent.nationality }}</td>
        </tr>
        <tr>
            <th>Skills</th>
            <td>
                {% for skill in agent.skills %}
                    {{ skill.name }} <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th><a href="{{ path('app.home') }}">Missions</a></th>
            <td>
                {% for mission in agent.missions %}
                        <a href="{{ path('mission_details', {'id': mission.id}) }}">
                            {{ mission.title }} <br>
                        </a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-md btn-primary mx-5">
        <a href="{{ path('app_login') }}" style="color: white; text-decoration: none">
            Sign in
        </a>
    </button>

    {#  {% if is_granted('ROLE_ADMIN') %} #}
    <button class="btn btn-md btn-success mx-2">
        <a href="{{ path('app_login') }}" style="color: white; text-decoration: none">
            Add an agent
        </a>
    </button>
    {#  {% endif %}#}
{% endblock %}