{% extends 'missions/index.html.twig' %}


{% block title %}
    {{ mission.title }}
{% endblock %}

{% block body %}

    <h1>{{ mission.title }}</h1>

    <table class="table table-hover table-responsive text-justify align-middle">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ mission.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mission.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ mission.status }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ mission.type }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ mission.country }}</td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{ mission.startDate }}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ mission.endDate }}</td>
            </tr>
            <tr>
                <th>Required skills</th>
                <td>{{ mission.skills.name }}</td>
            </tr>
            <tr>
                <th><a href="{{ path('agents_index') }}" style="color: black">Agents</a></th>
                    {% for agent in mission.agents %}
                        <td>
                            <a href="{{ path('agent_details', {'id': agent.id}) }}">{{ agent.codeName }}</a>
                        </td>
                    {% endfor %}
            </tr>
            <tr>
                <th><a href="#" style="color: black">Targets</a></th>
                {% for target in mission.targets %}
                    <td>{{ target.codeName }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th><a href="{{ path("contacts_index") }}" style="color: black">Contacts</a></th>
                {% for contact in mission.contacts %}
                    <td>
                        <a href="{{ path('contact_details', {'id': contact.id}) }}">{{ contact.codeName }}</a>
                    </td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
    <button class="btn btn-lg btn-warning mt-3 mx-2">
        <a href="{{ path('app.home') }}" style="color: white; text-decoration: none">Back to missions' index</a>
    </button>
{% endblock %}